body {
    background: darkgray;
}


label {
    vertical-align: top;
}


.left {
    padding: 10px;
    display: block;
    width: 25%;
    float: left;
    border: solid 5px yellow;
    text-align: left;
    height: 80%;
}

.right {
    text-align: center;
    padding: 10px;
    display: block;
    float: right;
    width: 70%;
    height: 80%;
    border: solid 5px yellow;
    margin-bottom: 10px;
}

.down {
    position: relative;
    padding: 10px;
    border: solid 5px yellow;
    display: block;
    margin-top: -10%;
    height: 10%;
    clear: both;
}

h1 {
    margin-left: 13px;
    font-size: 35;
}

li {
    font-size: 30;
}